---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/orgs/icalialabs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 6bec0e72990e116d1c9185d2ea6c8b85c40dad06
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1468187358'
      Etag:
      - W/"4b9874bb3fef6e8bdfc70116b6e61731"
      Last-Modified:
      - Thu, 07 Jul 2016 09:53:02 GMT
      X-Oauth-Scopes:
      - notifications, repo
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - cd9c6532aca6f50689f8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"IcaliaLabs","id":2523244,"url":"https://api.github.com/orgs/IcaliaLabs","repos_url":"https://api.github.com/orgs/IcaliaLabs/repos","events_url":"https://api.github.com/orgs/IcaliaLabs/events","hooks_url":"https://api.github.com/orgs/IcaliaLabs/hooks","issues_url":"https://api.github.com/orgs/IcaliaLabs/issues","members_url":"https://api.github.com/orgs/IcaliaLabs/members{/member}","public_members_url":"https://api.github.com/orgs/IcaliaLabs/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/2523244?v=3","description":"We
        guide our clients through an agile process, staying ahead of their competition
        and leveraging opportunities with digital products.","name":"Icalia Labs","company":null,"blog":"http://icalialabs.com/","location":"Monterrey,
        Mexico","email":"weare@icalialabs.com","public_repos":51,"public_gists":0,"followers":0,"following":0,"html_url":"https://github.com/IcaliaLabs","created_at":"2012-10-09T21:19:04Z","updated_at":"2016-07-07T09:53:02Z","type":"Organization","total_private_repos":19,"owned_private_repos":19,"private_gists":0,"disk_usage":449478,"collaborators":28,"billing_email":"weare@icalialabs.com","plan":{"name":"silver","space":976562499,"private_repos":20,"filled_seats":45,"seats":0}}'
  recorded_at: Sun, 10 Jul 2016 21:02:30 GMT
recorded_with: VCR 3.0.3
