.table-tabs-admin {
	background: #FFF;
	border: .1em solid $admin-primary-color;
	border-radius: 1em;
	color: $admin-primary-color;
	cursor: pointer;
	display: inline-block;
	font-weight: 300;
	margin: 0 .5em 1em 0;
	min-width: 5.5em;
	padding: 0 1em;
	text-align: center;
	transition-duration: 0.4s;

	&:hover {
		background: $admin-primary-color;
		border: .1em solid $admin-primary-color;
		color: #FFF;
	}

	a {
		color: $admin-primary-color;
		font-size: 1em;
		text-decoration: none;

		&:hover {
			color: #FFF;
			font-size: 1em;
			text-decoration: none;
		}

		&:active {
			border: .1em solid rgba(0,0,0,0.4);
			color: rgba(0,0,0,0.4);
			outline: 0;
			text-decoration: none;
		}	
	}
}

.align {

	.list-admin {
		text-align: center;

		&:first-child {
			text-align: center;

			a {
				color: $admin-primary-color;
				cursor: pointer;
				text-decoration: none;
					 	
				&:hover {
					color: $light-gray;
					text-decoration: none;
				}
			}
		}
	}
}

.refresh-icon {
	display: inline-block;
	vertical-align: middle;
	width: 2em;
}

.header {
	margin: 0 0 .5em 0;
}